<div class="sidebar-container stext" [ngClass]="'sel-'+selectedPage.toString()">
    <div class="menu-item">
        <a [routerLink]="['']" routerLinkActive="router-link-active">
            <img class="logo logo-black" src="assets/img/logo.png" alt="logo">
            <img class="logo logo-white" src="assets/img/logo_white.png" alt="logo">
        </a>
    </div>

    <div>
        <div class="menu-item">
            <a [routerLink]="['about']" routerLinkActive="router-link-active">
                <div class="link-text">ABOUT</div>
            </a>
        </div>
        <div class="menu-item">
            <a [routerLink]="['boulders']" routerLinkActive="router-link-active">
                <div class="link-text">BOULDERS</div>
            </a>
        </div>
    </div>

    <div>
        <div *ngIf="this.userService.isLoggedIn()" class="menu-item">
            <a [routerLink]="['user/', this.userService.getUsername()]"
                routerLinkActive="router-link-active">
                <div class="link-text">ACCOUNT</div>
            </a>
        </div>

        <div class="menu-item login">
            <a *ngIf="!this.userService.isLoggedIn()" [routerLink]="['login']">
                <div class="link-text">LOGIN</div>
            </a>
            <a *ngIf="this.userService.isLoggedIn()" (click)="submitLogout()" [routerLink]="['']">
                <div class="link-text">LOGOUT</div>
            </a>
        </div>
    </div>

</div>