// https://www.color-hex.com/color-palette/700

$accent: #d11141
$background1: #00b159
$background2: #00aedb
$highlight1: #f37735
$highlight2: #ffc425

$large: 5rem
$medium: 1.5em
$small: 1rem

.ltext
    font-size: $large

.mtext
    font-size: $medium

.stext
    font-size: $small
