// https://www.color-hex.com/color-palette/700

$accent: #d11141
$accent-soft: rgba(255, 142, 170, 0.555)
$background1: rgba(0, 177, 89, 0.5)
$background2: rgba(0, 174, 219, 0.5)
$highlight1: #f37735
$highlight2: #ffc425
$trans-light: rgba(255, 255, 255, 0.6)
$trans-dark: rgba(0, 0, 0, 0.6)

$large: calc(2rem + 2vw)
$medium: calc(1rem + 2vw)
$small: calc(0.6rem + 1vw)

.ltext
    font-size: $large

.mtext
    font-size: $medium

.stext
    font-size: $small
