/* You can add global styles to this file, and also import other style files */

@use 'src/assets/styles/variables' as var

@font-face
    font-family: 'Anek Devanagari'
    src: url('assets/fonts/AnekDevanagari-ExtraLight.ttf')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Anek Devanagari'
    src: url('assets/fonts/AnekDevanagari-Regular.ttf')
    font-weight: bold
    font-style: normal

html,body
    width: 100vw
    height: 100vh

body
    margin: 0
    font-family: Anek Devanagari
    background: linear-gradient(90deg, var.$background1 -200%, var.$background2 200%)
    //background-image: url('assets/img/background.jpg')
    color: black

@media only screen and (min-width: 2500px)
    body
        background-size: cover

.main-container
    display: flex
    flex-direction: column

.button-round
    width: 5rem
    height: 5rem