<div class="login-container">
    <form class="input-form card" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div>
            <label for="username">Username: </label>
            <input type="text" formControlName="username" id="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <div class="password-container">
                <input class="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    autocomplete="password" id="password" aria-describedby="password-constraints">
                <span class="show-pw"
                    aria-label="Show password as plain text. Warning: this will display your password on the screen."
                    (click)="toggleShowPassword()">
                    {{showPassword ? 'Hide' : 'Show'}}
                </span>
            </div>
            <div id="password-constraints">
                Eight or more characters with a mix of lowercase & uppercase letters, numbers and symbols.
            </div>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>

    <p class="explain stext">Thanks for wanting to take advantage of our <b>interactive features</b>.<br>You will be either
        <b>logged in</b> or <b>registered</b> as a
        new user depending on wether or not the given <b>username already exists</b>.</p>
</div>