<div class="main mtext">
    <h1>Welcome to RedPoint!</h1>
    <p>RedPoint is a <b>mockup</b> bouldering gym. It does not exist.<br>However, this website aims to portray a
        realistic
        user experience. It offers interactive features such as keeping track of your completed routes and rating
        boulders.</p>
    <p>Our boulders are set by our experienced local setting team and at least one guest setter.<br>You will notice how
        there is a wide variety of styles, but a familiar vibe throughout all of them.</p>
</div>

<div class="bottom stext">
    <div class="address-container">
        <h2 class="mtext">Our Address</h2>
        <span>12 Imaginary Street</span>
        <span>Fake District</span>
        <span>Dublin</span>
    </div>
    <div class="opening-container">
        <h2 class="mtext">Opening Hours</h2>
        <span>Monday to Friday</span>
        <span>10am - 11pm</span>
        <span>Weekends</span>
        <span>9am - 11pm</span>
        <span>Bank Holidays</span>
        <span>10am - 10pm</span>
    </div>
</div>

<div class="right stext">
    <h2 class="mtext">Pricing</h2>
    <span>All Day Ticket</span>
    <span class="price">13€</span>

    Juniors as well as students receive dicounted
</div>